# Desafio TEA

#### Eduardo Pérez
#### Nicolás Mazza

Importando librerias necesarias para el estudio de los datos

```
{
    "timestamp": {
        "type": "DateTime",
        "metadata": {},
        "value": "2018-10-02T16:41:11"
    },
    "id": 75,
    "codigoBus": {
        "type": "Number",
        "metadata": {}, 
        "value": 75
    }, 
    "type": "Bus",
    "linea": {
        "type": "Text", 
        "metadata": {},
        "value": "566"
    }, 
    "location": {
        "type": "geo:json",
        "metadata": {},
        "value": {
            "type": "Point", 
            "coordinates": [-56.110195, -34.88714]
        }
    }
}```

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [24]:
with open('../data/buses.json', 'r') as data_file:
    data = json.load(data_file)

for element in data:
    del element['objectId']
    del element['type']
    del element['timestamp']['type']
    del element['timestamp']['metadata']
    del element['codigoBus']['type']
    del element['codigoBus']['metadata']
    del element['linea']['type']
    del element['linea']['metadata']
    del element['location']['type']
    del element['location']['metadata']
    del element['location']['value']['type']
    
with open('../data/_buses.json', 'w') as data_file:
    data = json.dump(data, data_file)

In [78]:
bus_data = pd.read_json('../data/_buses.json', lines=True, chunksize=1)

for data in bus_data:
    entry = data
    break

In [79]:
entry

,0,1,2,3,4,5,6,7,8,9,...,230545,230546,230547,230548,230549,230550,230551,230552,230553,230554
0,{'location': {'value': {'coordinates': [-56.11...,{'location': {'value': {'coordinates': [-56.19...,{'location': {'value': {'coordinates': [-56.16...,{'location': {'value': {'coordinates': [-56.13...,{'location': {'value': {'coordinates': [-56.11...,{'location': {'value': {'coordinates': [-56.16...,{'location': {'value': {'coordinates': [-56.19...,{'location': {'value': {'coordinates': [-56.19...,{'location': {'value': {'coordinates': [-56.19...,{'location': {'value': {'coordinates': [-56.20...,...,{'location': {'value': {'coordinates': [-56.20...,{'location': {'value': {'coordinates': [-56.11...,{'location': {'value': {'coordinates': [-56.17...,{'location': {'value': {'coordinates': [-56.08...,{'location': {'value': {'coordinates': [-56.11...,{'location': {'value': {'coordinates': [-56.17...,{'location': {'value': {'coordinates': [-56.16...,{'location': {'value': {'coordinates': [-56.17...,{'location': {'value': {'coordinates': [-56.11...,{'location': {'value': {'coordinates': [-56.12...

In [80]:
entry_as_string = entry.applymap(lambda x: str(x))

In [81]:
entry_as_string = entry_as_string.values.reshape(-1,1)

In [82]:
entry_as_string

array([["{'location': {'value': {'coordinates': [-56.110195, -34.88714]}}, 'codigoBus': {'value': 75}, 'linea': {'value': '566'}, 'timestamp': {'value': '2018-10-02T16:41:11'}, 'id': 75}"],
       ["{'location': {'value': {'coordinates': [-56.191277, -34.90597]}}, 'codigoBus': {'value': 1111}, 'linea': {'value': '254'}, 'timestamp': {'value': '2018-10-02T16:41:11'}, 'id': 1111}"],
       ["{'location': {'value': {'coordinates': [-56.16672, -34.897167]}}, 'codigoBus': {'value': 957}, 'linea': {'value': '7902'}, 'timestamp': {'value': '2018-10-02T16:41:11'}, 'id': 957}"],
       ...,
       ["{'location': {'value': {'coordinates': [-56.175167, -34.903778]}}, 'codigoBus': {'value': 121}, 'linea': {'value': '7704'}, 'timestamp': {'value': '2018-10-02T18:10:28'}, 'id': 121}"],
       ["{'location': {'value': {'coordinates': [-56.111305, -34.883278]}}, 'codigoBus': {'value': 301}, 'linea': {'value': '7903'}, 'timestamp': {'value': '2018-10-02T18:10:28'}, 'id': 301}"],
       ["{'location': {'value': {'coordinates': [-56.12886, -34.83311]}}, 'codigoBus': {'value': 89}, 'linea': {'value': '227'}, 'timestamp': {'value': '2018-10-02T18:10:28'}, 'id': 89}"]],
      dtype=object)

In [83]:
unique_data = np.unique(entry_as_string)

In [84]:
print('Original Values: {0}\nUnique Values: {1}\nDuplicated Values: {2}'.format(len(entry_as_string),
                                                                              len(unique_data),
                                                                              (len(entry_as_string)-len(unique_data))))

Original Values: 230555
Unique Values: 63939
Duplicated Values: 166616

In [85]:
entry_as_string[0]

array(["{'location': {'value': {'coordinates': [-56.110195, -34.88714]}}, 'codigoBus': {'value': 75}, 'linea': {'value': '566'}, 'timestamp': {'value': '2018-10-02T16:41:11'}, 'id': 75}"],
      dtype=object)

In [86]:
entry_as_string[63939]

array(["{'location': {'value': {'coordinates': [-56.20189, -34.90764]}}, 'codigoBus': {'value': 961}, 'linea': {'value': '340'}, 'timestamp': {'value': '2018-10-02T18:09:28'}, 'id': 961}"],
      dtype=object)

In [126]:
with open('../data/unique_buses.json', 'w') as data_file:
    for _entry in unique_data:
        data_file.writelines(_entry+'\n')
    data_file.close()

In [135]:
bus_data = pd.read_json('../data/unique_buses.json', lines=True, chunksize=1)

Replace in your favorite text editor `'` for `"`

In [192]:
data = pd.DataFrame(columns=['coordinates_x','coordinates_y','bus_code','line','time_stamp','id'])
coordinates_x = []
coordinates_y = []
bus_code = []
lines = []
time_stamp = []
ids = []
with open('../data/unique_buses.json', 'r') as file:
    for line in file:
        line  = str(line.strip())
        entry = json.loads(line)
        coordinates_x.append(entry['location']['value']['coordinates'][0])
        coordinates_y.append(entry['location']['value']['coordinates'][1])
        bus_code.append(entry['codigoBus']['value'])
        lines.append(entry['linea']['value'])
        time_stamp.append(entry["timestamp"]['value'])
        ids.append(entry["id"])
data['coordinates_x'] = coordinates_x
data['coordinates_y'] = coordinates_y
data['bus_code'] = bus_code
data['line'] = lines
data['time_stamp'] = time_stamp
data['id'] = ids

In [200]:
data.head()

   coordinates_x  coordinates_y  bus_code line           time_stamp   id
0     -55.995388      -34.86011       252  863  2018-10-02T17:07:12  252
1     -55.995388      -34.86011       252  863  2018-10-02T17:07:27  252
2     -55.995388      -34.86011       252  863  2018-10-02T17:07:42  252
3     -55.995388      -34.86011       252  863  2018-10-02T17:07:57  252
4     -55.995388      -34.86011       252  863  2018-10-02T17:08:12  252

In [201]:
data.to_csv('../data/formatted_data.csv')