# Analisis de atributos

In [15]:
import pandas as pd
from datetime import datetime

In [39]:
data = pd.read_csv('../data/formatted_data.csv')
data = data.drop(['Unnamed: 0'], axis=1)

In [40]:
data.head()

   coordinates_x  coordinates_y  bus_code  line           time_stamp   id
0     -55.995388      -34.86011       252   863  2018-10-02T17:07:12  252
1     -55.995388      -34.86011       252   863  2018-10-02T17:07:27  252
2     -55.995388      -34.86011       252   863  2018-10-02T17:07:42  252
3     -55.995388      -34.86011       252   863  2018-10-02T17:07:57  252
4     -55.995388      -34.86011       252   863  2018-10-02T17:08:12  252

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63939 entries, 0 to 63938
Data columns (total 6 columns):
coordinates_x    63939 non-null float64
coordinates_y    63939 non-null float64
bus_code         63939 non-null int64
line             63939 non-null int64
time_stamp       63939 non-null object
id               63939 non-null int64
dtypes: float64(2), int64(3), object(1)
memory usage: 2.9+ MB

In [43]:
data.time_stamp = data.time_stamp.apply(lambda t: datetime.strptime(t,'%Y-%m-%dT%H:%M:%S'))

In [45]:
data.head()

   coordinates_x  coordinates_y  bus_code  line          time_stamp   id
0     -55.995388      -34.86011       252   863 2018-10-02 17:07:12  252
1     -55.995388      -34.86011       252   863 2018-10-02 17:07:27  252
2     -55.995388      -34.86011       252   863 2018-10-02 17:07:42  252
3     -55.995388      -34.86011       252   863 2018-10-02 17:07:57  252
4     -55.995388      -34.86011       252   863 2018-10-02 17:08:12  252

In [99]:
def bus_moving(df_t0, df_t1):
    if(df_t0.bus_code == df_t1.bus_code):
        return different_coordinates(df_t0, df_t1)
    return None

def is_different_bus(df_t0, df_t1):
    if(df_t0.bus_code == df_t1.bus_code):
        return False
    return True

def different_coordinates(df_t0, df_t1):
    d0 = df_t0.coordinates_x - df_t1.coordinates_x
    d1 = df_t0.coordinates_y - df_t1.coordinates_y
    if d0 == 0 and d1 ==0:
        return False
    return True

In [ ]:
row_cache = data.iloc[0]
buses = {}
for index, row in data.iterrows():
    if is_different_bus(row_cache, row):
        buses[row.bus_code] = []

In [95]:
df_t0 = data.iloc[0]
df_t1 = data.iloc[1]
bus_not_moving(df_t0,df_t1)

True

In [97]:
row_cache = data.iloc[0]
for index, row in data.iterrows():
    is_moving = bus_moving(row_cache, row)
    if is_moving == None:
        moving.append('+')
    elif is_moving:
        moving.append(str(row.time_stamp)+'#'+str(row_cache.time_stamp))
    else:
        moving.append('-')
    row_cache = row
data['time'] = moving

In [98]:
data.head(50)

    coordinates_x  coordinates_y  bus_code  line          time_stamp   id time
0      -55.995388      -34.86011       252   863 2018-10-02 17:07:12  252    -
1      -55.995388      -34.86011       252   863 2018-10-02 17:07:27  252    -
2      -55.995388      -34.86011       252   863 2018-10-02 17:07:42  252    -
3      -55.995388      -34.86011       252   863 2018-10-02 17:07:57  252    -
4      -55.995388      -34.86011       252   863 2018-10-02 17:08:12  252    -
5      -55.995388      -34.86011       252   863 2018-10-02 17:08:27  252    -
6      -55.995388      -34.86011       252   863 2018-10-02 17:08:42  252    -
7      -55.995388      -34.86011       252   863 2018-10-02 17:08:57  252    -
8      -55.995388      -34.86011       252   863 2018-10-02 17:09:12  252    -
9      -55.995388      -34.86011       252   863 2018-10-02 17:09:27  252    -
10     -55.995388      -34.86011       252   863 2018-10-02 17:09:42  252    -
11     -55.995388      -34.86011       252   863 2018-10-02 17:09:57  252    -
12     -55.995388      -34.86011       252   863 2018-10-02 17:10:12  252    -
13     -55.995388      -34.86011       252   863 2018-10-02 17:10:27  252    -
14     -55.995388      -34.86011       252   863 2018-10-02 17:10:42  252    -
15     -55.995388      -34.86011       252   863 2018-10-02 17:10:57  252    -
16     -55.995388      -34.86011       252   863 2018-10-02 17:11:12  252    -
17     -55.995388      -34.86011       252   863 2018-10-02 17:11:27  252    -
18     -55.995388      -34.86011       252   863 2018-10-02 17:11:42  252    -
19     -55.995388      -34.86011       252   863 2018-10-02 17:11:57  252    -
20     -55.995388      -34.86011       252   863 2018-10-02 17:12:12  252    -
21     -55.995388      -34.86011       252   863 2018-10-02 17:12:27  252    -
22     -55.995388      -34.86011       252   863 2018-10-02 17:12:42  252    -
23     -55.995388      -34.86011       252   863 2018-10-02 17:12:57  252    -
24     -55.995388      -34.86011       252   863 2018-10-02 17:13:12  252    -
25     -55.995388      -34.86011       252   863 2018-10-02 17:13:27  252    -
26     -55.995388      -34.86011       252   863 2018-10-02 17:13:42  252    -
27     -55.995388      -34.86011       252   863 2018-10-02 17:13:57  252    -
28     -55.995388      -34.86011       252   863 2018-10-02 17:14:12  252    -
29     -55.995388      -34.86011       252   863 2018-10-02 17:14:27  252    -
30     -55.995388      -34.86011       252   863 2018-10-02 17:14:42  252    -
31     -55.995388      -34.86011       252   863 2018-10-02 17:14:57  252    -
32     -55.995388      -34.86011       252   863 2018-10-02 17:15:12  252    -
33     -55.995388      -34.86011       252   863 2018-10-02 17:15:27  252    -
34     -55.995388      -34.86011       252   863 2018-10-02 17:15:42  252    -
35     -55.995388      -34.86011       252   863 2018-10-02 17:15:57  252    -
36     -55.995388      -34.86011       252   863 2018-10-02 17:16:12  252    -
37     -55.995388      -34.86011       252   863 2018-10-02 17:16:27  252    -
38     -55.995388      -34.86011       252   863 2018-10-02 17:16:42  252    -
39     -55.995388      -34.86011       252   863 2018-10-02 17:16:57  252    -
40     -55.995860      -34.85989       249  7899 2018-10-02 17:01:12  249    +
41     -55.996582      -34.86039       252  7899 2018-10-02 17:19:27  252    +
42     -55.996693      -34.86089       249   863 2018-10-02 16:42:41  249    +
43     -55.996693      -34.86089       249   863 2018-10-02 16:42:56  249    -
44     -55.996693      -34.86089       249   863 2018-10-02 16:43:11  249    -
45     -55.996693      -34.86089       249   863 2018-10-02 16:43:26  249    -
46     -55.996693      -34.86089       249   863 2018-10-02 16:43:41  249    -
47     -55.996693      -34.86089       249   863 2018-10-02 16:43:56  249    -
48     -55.996693      -34.86089       249   863 2018-10-02 16:44:11  249    -
49     -55.996693      -34.86089       249   863 2018-10-02 16:44:26  249    -