# Desafio TEA

#### Eduardo Pérez
#### Nicolás Mazza

Importando librerias necesarias para el estudio de los datos

In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [ ]:
with open('../data/buses.json', 'r') as data_file:
    data = json.load(data_file)

for element in data:
    element.pop('objectId', None)

with open('../data/_buses.json', 'w') as data_file:
    data = json.dump(data, data_file)

In [27]:
bus_data = pd.read_json('../data/buses.json', lines=True, chunksize=1)

for data in bus_data:
    entry = data
    break

In [28]:
entry

,0,1,2,3,4,5,6,7,8,9,...,230545,230546,230547,230548,230549,230550,230551,230552,230553,230554
0,"{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...",...,"{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':...","{'timestamp': {'type': 'DateTime', 'metadata':..."

In [64]:
entry_as_string = entry.applymap(lambda x: str(x))

In [65]:
entry_as_string = entry_as_string.values.reshape(-1,1)

In [66]:
entry_as_string

array([["{'timestamp': {'type': 'DateTime', 'metadata': {}, 'value': '2018-10-02T16:41:11'}, 'id': 75, 'codigoBus': {'type': 'Number', 'metadata': {}, 'value': 75}, 'type': 'Bus', 'linea': {'type': 'Text', 'metadata': {}, 'value': '566'}, 'objectId': '5bd165afff1728171abc73d2', 'location': {'type': 'geo:json', 'metadata': {}, 'value': {'type': 'Point', 'coordinates': [-56.110195, -34.88714]}}}"],
       ["{'timestamp': {'type': 'DateTime', 'metadata': {}, 'value': '2018-10-02T16:41:11'}, 'id': 1111, 'codigoBus': {'type': 'Number', 'metadata': {}, 'value': 1111}, 'type': 'Bus', 'linea': {'type': 'Text', 'metadata': {}, 'value': '254'}, 'objectId': '5bd165afff1728171abc73db', 'location': {'type': 'geo:json', 'metadata': {}, 'value': {'type': 'Point', 'coordinates': [-56.191277, -34.90597]}}}"],
       ["{'timestamp': {'type': 'DateTime', 'metadata': {}, 'value': '2018-10-02T16:41:11'}, 'id': 957, 'codigoBus': {'type': 'Number', 'metadata': {}, 'value': 957}, 'type': 'Bus', 'linea': {'type': 'Text', 'metadata': {}, 'value': '7902'}, 'objectId': '5bd165afff1728171abc73b9', 'location': {'type': 'geo:json', 'metadata': {}, 'value': {'type': 'Point', 'coordinates': [-56.16672, -34.897167]}}}"],
       ...,
       ["{'timestamp': {'type': 'DateTime', 'metadata': {}, 'value': '2018-10-02T18:10:28'}, 'id': 121, 'codigoBus': {'type': 'Number', 'metadata': {}, 'value': 121}, 'type': 'Bus', 'linea': {'type': 'Text', 'metadata': {}, 'value': '7704'}, 'objectId': '5bd1b563ff172828c936cbb8', 'location': {'type': 'geo:json', 'metadata': {}, 'value': {'type': 'Point', 'coordinates': [-56.175167, -34.903778]}}}"],
       ["{'timestamp': {'type': 'DateTime', 'metadata': {}, 'value': '2018-10-02T18:10:28'}, 'id': 301, 'codigoBus': {'type': 'Number', 'metadata': {}, 'value': 301}, 'type': 'Bus', 'linea': {'type': 'Text', 'metadata': {}, 'value': '7903'}, 'objectId': '5bd1b563ff172828c936cbb9', 'location': {'type': 'geo:json', 'metadata': {}, 'value': {'type': 'Point', 'coordinates': [-56.111305, -34.883278]}}}"],
       ["{'timestamp': {'type': 'DateTime', 'metadata': {}, 'value': '2018-10-02T18:10:28'}, 'id': 89, 'codigoBus': {'type': 'Number', 'metadata': {}, 'value': 89}, 'type': 'Bus', 'linea': {'type': 'Text', 'metadata': {}, 'value': '227'}, 'objectId': '5bd1b563ff172828c936cbba', 'location': {'type': 'geo:json', 'metadata': {}, 'value': {'type': 'Point', 'coordinates': [-56.12886, -34.83311]}}}"]],
      dtype=object)

In [67]:
unique_data = np.unique(entry_as_string)

In [72]:
print('Original Values: {0}\nUnique Values: {1}\nDuplicated Values: {2}'.format(len(entry_as_string),
                                                                              len(unique_data),
                                                                              (len(entry_as_string)-len(unique_data))))

Original Values: 230555
Unique Values: 230555
Duplicated Values: 0

In [73]:
entry_as_string[0]

array(["{'timestamp': {'type': 'DateTime', 'metadata': {}, 'value': '2018-10-02T16:41:11'}, 'id': 75, 'codigoBus': {'type': 'Number', 'metadata': {}, 'value': 75}, 'type': 'Bus', 'linea': {'type': 'Text', 'metadata': {}, 'value': '566'}, 'objectId': '5bd165afff1728171abc73d2', 'location': {'type': 'geo:json', 'metadata': {}, 'value': {'type': 'Point', 'coordinates': [-56.110195, -34.88714]}}}"],
      dtype=object)